@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

body { 
    background: #6fdcdc;
    background-size: cover; 
    display: flex;
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
    font-family: raleway;
}

/*================Header Section===============*/

.header-title {
    color: #9a5d98;
    font-family: "black han sans", sans-serif;
    font-size: 4rem;
    margin-top: 33px;
    float: left;
    margin-bottom: 15px;
    animation: fadeUpIn 3s;
    -webkit-animation: fadeUpIn 5s;
}

@-webkit-keyframes fadeUpIn {
  from { opacity:0; top:150px; 
  }
  to { opacity:2; top: 70px; 
  }
}
/*===================Quote Section======================*/

#quote-container {
  background-color: rgba(206, 99, 99, 0.93);
  border-radius: 4px;
  padding: 2rem;
}

.quote-text {
  color: #ffffff;
  font-weight: 500;
}

.text {
  color: #9fe6e3;
}





.btn {
  font-size: 1rem;
  background-color: rgb(71, 148, 148);
  font-size: 1rem;
  background-color: rgba(25, 24, 24, 0.6):;
  color: #fff;
  margin-left: 20px;
  border-radius: 50px
}




.twitter {
  color: ##8465a5;
  position: right;
  margin: 2rem 0 0 2rem;
}

/*=====================Footer Section===================*/

#footer {
  color: ##8465a5;
  font-weight: 500px;
}

.social {
  color: ##8465a5;
  padding-right: 0.5rem;
}
